/* Add stuff here. */

body {
  font-family: "Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
}

a {
  -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  border-bottom: dotted 1px;
  color: rgb(59, 153, 188);
  text-decoration: none;
}

.header {
  padding: 2.3em 2em 0;
  padding: 2.3em 2em 0;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  border-bottom: solid 5px rgb(59, 153, 188);
  position: relative;
  flex-direction: column;
}

.toggle {
  display: block;
  position: static;
  margin-left: -55px;
}

.menu-link {
  background: #3b99bc;
}

#menu.inactive {
  width: 0px;
  overflow: hidden;
}

#menu h2 {
  font-size: 1.38889em;
}

header.major > :last-child {
  border-bottom: solid 3px rgb(59, 153, 188);
  display: inline-block;
  margin: 0 0 0.4em 0;
  padding: 0 0.75em 0.5em 0;
}

.content {
  max-width: inherit;
}

#layout {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  min-height: calc(100vh - 91px);
}

#main {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  width: 100%;
  padding: 0 5em 0.1em 5em;
  max-width: 110em;
}

#menu {
  left: 0;
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  -moz-transition: width 0.5s ease, box-shadow 0.5s ease;
  -webkit-transition: width 0.5s ease, box-shadow 0.5s ease;
  -ms-transition: width 0.5s ease, box-shadow 0.5s ease;
  transition: width 0.5s ease, box-shadow 0.5s ease;
  background-color: #f5f6f7;
  font-size: 0.9em;
  position: relative;
  width: 30vw;
  max-width: 22em;
}

#menu .pure-menu-heading {
  padding: 1.05em;
  background-color: #eff1f2;
  text-align: center;
}

#menu .pure-menu ul {
  border-top: none;
  padding: 20px;
}

#menu .pure-menu ul li {
  margin: 0.5em 0 0 0;
  padding: 0.5em 0 0 0;
  background: none;
  border-top: solid 1px rgba(210, 215, 217, 0.75);
}

#menu .pure-menu ul li:nth-child(2) {
  border-top: none;
}

#menu .pure-menu .menu-item-divided {
  border-top: solid 1px rgba(210, 215, 217, 0.75);
}

#menu .pure-menu-selected a, #menu .pure-menu ul li a:active, #menu .pure-menu ul li a:focus, #menu .pure-menu ul li a:hover {
  color: rgb(59, 153, 188);
  background: none;
}

.logo {
  display: inline-block;
  letter-spacing: -2px;
  line-height: 31px;
}

.logo-image {
  margin-left: -30px;
}

.logo .m {
  font-size: 28px;
  margin-left: -9px;
  color: rgb(50, 132, 167);
}

.logo .s {
  font-size: 18px;
  margin-left: -5px;
  color: rgb(63, 166, 198);
}

.logo .h {
  font-size: 65px;
  display: block;
  color: rgb(27, 90, 128);
}

.footer {
  font-size: 87.5%;
  border-top: 1px solid #eee;
  margin-top: 3.4286em;
  padding: 1.1429em;
  background: rgb(250, 250, 250);
  line-height: 1.6;
  text-align: center;
  margin: 0 auto;
}

.footer p {
  margin-top: 0;
}

.articles li {
  list-style: none;
}

.articles h2 {
  margin-bottom: 3px;
}

.articles span {
  font-size: 12px;
}

.meta {
  text-align: right;
  line-height: 16px;
  font-size: 12px;
}

@media (max-width: 640px) {
  body {
    overflow-x: hidden;
  }

  .toggle {
    display: none;
  }

  #menu {
    display: none;
    width: 100%;
    overflow: hidden;
  }

  #menu.active {
    display: flex;
  }

  #menu .pure-menu-heading {
    padding: 1em 0.5em 1em 0.2em;
  }

  .logo-image {
    margin-left: 36px;
    display: block;
  }

  #main {
    padding: 0;
  }
}

@media (min-width: 981px) {
  .toggle {
    display: none;
  }
}
