{% extends "layout.html" %}

{% from "macros/pagination.html" import render_pagination %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}
<div class="header">
    <h1>{{ this.title }}</h1>
</div>

<div class="content">
    <p>
    Here are some articles:
    </p>

    <ul class="articles">
        {% for post in this.pagination.items %}
        <li>
		<h2><a href="{{ post|url }}">{{ post.title }}</a></h2><span> —
        by {{ post.author }}
	on {{ post.pub_date|dateformat }}</span>
        </li>
        {% endfor %}
    </ul>

    {% if this.pagination.pages > 1 %}
    {{ render_pagination(this.pagination) }}
    {% endif %}
</div>

{% endblock %}


