{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}
<div class="header">
    <h1>{{ this.title }}</h1>
</div>

<div class="content">
	<p class="meta"> by {{ this.author }}<br/>on {{ this.pub_date|dateformat('full') }}
  <div class="body">
      {{ this.body }}
  </div>
</div>
{% endblock %}
