<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome{% endblock %} — Lighten the Web</title>

        <!--[if lt IE 9]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="{{ '/static/css/purecss/base-min.css'|url }}">
        <link rel="stylesheet" href="{{ '/static/css/purecss/menus-min.css'|url }}">
        <link rel="stylesheet" href="{{ '/static/css/side-menu.css'|url }}">
        <link rel="stylesheet" href="{{ '/static/css/style.css'|url }}">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ '/static/icons/favicons/apple-touch-icon.png'|url }}">
        <link rel="icon" type="image/png" href="{{ '/static/icons/favicons/favicon-32x32.png'|url }}" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ '/static/icons/favicons/favicon-16x16.png'|url }}" sizes="16x16">
        <link rel="manifest" href="{{ '/static/icons/favicons/manifest.json'|url }}">
        <link rel="mask-icon" href="{{ '/static/icons/favicons/safari-pinned-tab.svg'|url }}" color="#5bbad5">
        <link rel="shortcut icon" href="{{ '/static/icons/favicons/favicon.ico'|url }}">
        <meta name="apple-mobile-web-app-title" content="Lighten the Web">
        <meta name="application-name" content="Lighten the Web">
        <meta name="msapplication-config" content="{{ '/static/icons/favicons/browserconfig.xml'|url }}">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>

		<div id="layout">
			<!-- Menu toggle -->
			<a href="#menu" id="menuLink" class="menu-link">
				<!-- Hamburger icon -->
				<span></span>
			</a>

			<div id="main">
				<a href="#menu" id="menuToggle" class="menu-link toggle"><span></span></a>
				{% block body %}{% endblock %}
			</div>

			<div id="menu">

				<div class="pure-menu">
					<a class="pure-menu-heading" href="{{ site.get_root()|url }}">
						<img class="logo-image" src="{{ '/static/logo.png'|url }}" alt="logo" width="75" />
						<div class="logo">
							<span class="m">
								Lighten
							</span>
							<span class="s">
								the
							</span>
							<span class="h">
								Web
							</span>
						</div>
					</a>

					<ul class="pure-menu-list">
                        <header class="major"><h2>Menu</h2></header>
                        <li class="pure-menu-item"><a href="{{ "/"|url }}" class="pure-menu-link">Home</a></li>
                        <li class="pure-menu-item"><a href="{{ "/resources/"|url }}" class="pure-menu-link">Resources</a></li>
                        <li class="pure-menu-item"><a href="{{ "/libraries/"|url }}" class="pure-menu-link">Libraries</a></li>
                        <li class="pure-menu-item"><a href="{{ "/about/"|url }}" class="pure-menu-link">About</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="footer">
			<div class="pure-g">
				<div class="pure-u-1 u-sm-1-2">
					<p>
                    Made with ♥️ for the web by <a href="/about/">these people</a> and hosted on the amazing <a href="https://www.netlify.com/">Netlify</a>.<br>
					If you want to contribute a library or article, please <a href="https://gitlab.com/stavros/lighten-the-web/issues">contact us</a> or <a href="https://gitlab.com/stavros/lighten-the-web/">open a merge request</a>!
					</p>
				</div>
			</div>
		</div>

		<script src="{{ '/static/js/ui.js'|url }}"></script>
	</body>
</html>
