{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}
<div class="header">
    <h1>{{ this.title }}</h1>
</div>

<div class="content">
    {{ this.body }}
</div>
{% endblock %}
